footer {
  width: 100%;
  max-width: 1280px;
  padding: 6.4rem 3.2rem 3.2rem;
  margin-inline: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & .logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    font: 700 2rem/130% var(--ff-syne);

    & img {
      width: 2rem;
      transition: rotate 350ms;

      &:hover {
        rotate: 90deg;
      }
    }
  }

  & nav {
    display: flex;
    padding: 0;
    gap: 3.2rem;

    & a {
      width: fit-content;
      position: relative;

      &:hover::after {
        transform: scaleX(1);
        opacity: 1;
      }
    }

    & a::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--snitap-sky-mid);

      position: absolute;
      bottom: 0;
      left: 0;

      opacity: 0;
      transform: scaleX(0);
      transition: transform 200ms linear;
    }
  }

  .social-links {
    display: flex;
    align-items: center;

    & a {
      width: 4rem;
      height: 4rem;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 8rem;

      position: relative;

      &:hover::before {
        scale: 1;
      }

      &::before {
        content: "";
        width: inherit;
        height: inherit;
        border-radius: inherit;

        background-color: var(--snitap-sun);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        scale: 0;
        transition: scale 200ms;
      }
    }
  }
}

@media(width <= 425px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 4.8rem;

    & nav {
      flex-direction: column;
      gap: 2.4rem;
    }
  }
}